img{
    margin-top: 40px;
    border-radius: 500px;
    border-style:dashed;
    border-color: darkblue;
    border-width: 10px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: centre;
} 
h1
{
     font-size: 70px;
     background-color: blue;
}
h2
{
   font-size: 40px; 


}

 